*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
}
.heading {
  background-color: rgb(17, 255, 124);
  color: #fff;
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: flex-end;
  align-items: center; */
}
.box {
  height: 60px;
  width: 100%;
  background-color: red;
  padding: 1rem;
  font-weight: 700;
  text-align: center;
  border: gray 1.5px;
  color: #fff;
}
.b1 {
  background-color: orange;
}
.b2 {
  background-color: white;
  color: lightblue !important;
}
.b3 {
  background-color: darkgreen;
}
.ashoka {
  height: 44px;
  width: 90px;
  justify-content: center;
  align-items: center;
  position: relative;
}
