*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
.container {
  display: flex;
}
.heading {
  background-color: rgb(17, 255, 124);
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box {
  height: 150px;
  width: 150px;
  background-color: red;
  padding: 1rem;
  font-weight: 700;
  text-align: center;
  border: radius 10px lightpink;
  color: #fff;
}
.b1 {
  background-color: orange;
  justify-content: flex-end;
}
.b2 {
  /* background-color: blue; */
}
.b3 {
  background-color: pink;
}
.b4 {
  background-color: maroon;
}
.b5 {
  background-color: magenta;
}
